@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-white text-black;
}

/* Utility to prevent selecting text where applied */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
